1.Даны значения величины заработной платы заемщиков банка (zp) и значения их поведенческого кредитного скоринга (ks):
zp = [35, 45, 190, 200, 40, 70, 54, 150, 120, 110],
ks = [401, 574, 874, 919, 459, 739, 653, 902, 746, 832].
Найдите ковариацию этих двух величин с помощью элементарных действий, а затем с помощью функции cov из numpy
Полученные значения должны быть равны.
Найдите коэффициент корреляции Пирсона с помощью ковариации и среднеквадратичных отклонений двух признаков,
а затем с использованием функций из библиотек numpy и pandas.

In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [2]:
df = pd.DataFrame({'zp': [35, 45, 190, 200, 40, 70, 54, 150, 120, 110],
                   'ks': [401, 574, 874, 919, 459, 739, 653, 902, 746, 832]})
df

    zp   ks
0   35  401
1   45  574
2  190  874
3  200  919
4   40  459
5   70  739
6   54  653
7  150  902
8  120  746
9  110  832

In [3]:
df.corr()

         zp       ks
zp  1.00000  0.88749
ks  0.88749  1.00000

In [4]:
X = df['zp']
Y = df['ks']
MX = X.mean()
MY = Y.mean()
cov = np.cov(X, Y)
cov

array([[ 3882.93333333, 10175.37777778],
       [10175.37777778, 33854.32222222]])

In [5]:
corr = cov / (X.std() * Y.std())
corr

array([[0.33866702, 0.88749009],
       [0.88749009, 2.95275283]])

2.Измерены значения IQ выборки студентов,
обучающихся в местных технических вузах:
131, 125, 115, 122, 131, 115, 107, 99, 125, 111.
Известно, что в генеральной совокупности IQ распределен нормально.
Найдите доверительный интервал для математического ожидания с надежностью 0.95.

In [6]:
samples = np.array([131, 125, 115, 122, 131, 115, 107, 99, 125, 111])
n = samples.shape[0]
m = samples.mean()
s = samples.std(ddof=1)

In [7]:
## по таблице Стьюдента находим t
t=2.31

In [8]:
(m - t * s / np.sqrt(n), m + t * s / np.sqrt(n))

(110.39653577927436, 125.80346422072563)

3.Известно, что рост футболистов в сборной распределен нормально
с дисперсией генеральной совокупности, равной 25 кв.см. Объем выборки равен 27,
среднее выборочное составляет 174.2. Найдите доверительный интервал для математического
ожидания с надежностью 0.95.

In [9]:
## по таблице Стьюдента находим t
t = 2.0555
n = 27
m = 174.2
s = 5
print(m - t * s / np.sqrt(n), m + t * s / np.sqrt(n))

172.2220942028012 176.17790579719878

4.Выберите тему для проектной работы по курсу Теории вероятностей и математической статистики
и напишите ее в комментарии к Практическому заданию.

Добрый день.
Для анализа возьму данные по недвижимости (цена,площадь,локация). Ранее на другом курсе  работали с этим датасетом