In [1]:
from pymongo import MongoClient
from pprint import pprint
import pandas as pd

In [2]:
client=MongoClient()
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [4]:
df=pd.read_csv('d.csv')
df

,vacancy_name,company_name,company_location,salary
0,"Эксперт (SQL, Python) в отдел разработки систе...",Банк ВТБ,['Москва'],По договорённости
1,Разработчик кастомизации и внедрения,ДИНАМИЧЕСКИЕ СИСТЕМЫ,['Москва'],По договорённости
2,DevOps Engineer,SuperJob,['Москва'],По договорённости
3,Руководитель аналитического отдела,Альпинтех,['Москва'],от200000₽
4,Senior 1С программист,АЛЬФАСКЛАД,['Москва'],до200000₽
...,...,...,...,...
78,Специалист по рыночным рискам,NoN,['Москва'],По договорённости
79,Разработчик ABAP,ИК СИБИНТЕК,['Волгоград'],По договорённости
80,Инженер-электронщик,Friendwork,['Долгопрудный'],от100000₽
81,Инженер-программист,Friendwork,['Долгопрудный'],от100000₽
82,Инженер-программист встраиваемых систем,Friendwork,['Долгопрудный'],от100000₽

In [44]:
list_vacancy=[]
for i in range(len(df)):
    ss=df.iloc[i]
    sss={}
    sss['vacancy_name']=ss['vacancy_name']
    sss['company_name']=ss['company_name']
    sss['company_location']=ss['company_location']
    sss['salary']=ss['salary']
    list_vacancy.append(sss)

In [49]:
client['db']

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'db')

In [50]:
db=client['db']

In [51]:
db.job.insert_many(list_vacancy)