In [1]:
import requests
from bs4 import BeautifulSoup as bs
from pprint import pprint
import pandas as pd
from time import sleep

In [2]:
url='https://www.superjob.ru/vacancy/search/'
headers={
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:109.0) Gecko/20100101 Firefox/110.0',
}
params = {
        'keywords': 'Python', \
        'page': ''
    }

In [3]:
response = requests.get(url, params=params, headers=headers)

In [4]:
vacancy_date=[] 
for i in range(0, 3):
        params['page'] = i
        html = requests.get(url, params=params, headers=headers)
        parsed_html = bs(html.text,'html.parser')
        vacancy_items = parsed_html.find_all('div', {'class': 'f-test-vacancy-item'})
        for item in vacancy_items:
                vacancy_date.append(item)
        sleep(1)   
    ##1

In [87]:
vacancy_base_str = []
for i in range(len(vacancy_date)):
    vacancy_name=vacancy_date[i].find_all('a')
    ##vacancy_base['vacancy_name']= vacancy_name[0].getText()
    vacancy_base_str.append(vacancy_name[0].getText())

    

len(vacancy_base_str)

84

In [89]:
company_name_str=[]
for i in range(len(vacancy_date)):
    company_name = vacancy_date[i].find('span', {'class': 'f-test-text-vacancy-item-company-name'})
    try:  
        if not company_name:
            company_name = vacancy_date.findParent() \
                            .find('span', {'class': 'f-test-text-vacancy-item-company-name'}) \
                            .getText()
        else:
            company_name = company_name.getText()
            company_name_str.append(company_name)         
    except:  
        company_name_str.append('NoN')

len(company_name_str)

84

In [90]:
company_location_str=[]
for i in range(len(vacancy_date)):
    company_location = vacancy_date[i].find('span', {'class': 'f-test-text-company-item-location'}) \
                            .findChildren()[1] \
                            .getText() \
                            .split(',')
    company_location_str.append(company_location)
len(company_location_str)

84

In [93]:
salary_str=[]
for i in range(len(vacancy_date)):
    salary = vacancy_date[i].find('div', {'class': 'f-test-text-company-item-salary'}) \
                  .findChildren()
    salary = salary[0].getText().replace(u'\xa0', u'')
    salary_str.append(salary)
    

len(salary_str)

84

In [96]:
df = pd.DataFrame(list(zip( vacancy_base_str, company_name_str,company_location_str,salary_str )), columns = ['vacancy_name', 'company_name','company_location','salary' ])
df

,vacancy_name,company_name,company_location,salary
0,"Эксперт (SQL, Python) в отдел разработки систе...",Банк ВТБ,[Москва],По договорённости
1,Специалист технической поддержки,Яндекс,[Москва],от15000₽
2,Сервис-инженер,Интелтел,[Москва],от60000₽
3,Аналитик данных,Сбербанк,[Москва],По договорённости
4,Разработчик кастомизации и внедрения,ДИНАМИЧЕСКИЕ СИСТЕМЫ,[Москва],По договорённости
...,...,...,...,...
79,Специалист по рыночным рискам,NoN,[Москва],По договорённости
80,Разработчик ABAP,ИК СИБИНТЕК,[Волгоград],По договорённости
81,Инженер-электронщик,Friendwork,[Долгопрудный],от100000₽
82,Инженер-программист,Friendwork,[Долгопрудный],от100000₽
83,Инженер-программист встраиваемых систем,Friendwork,[Долгопрудный],от100000₽